.jumbotron h1{
	opacity:0;
	text-index:-999999px;
	position: absolute;
}
.jumbotron h1.active{
	opacity:1;
	text-indent: 0;
	position: relative;
}
span.line{
	color:#de3f29;
	-webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  animation: blink 1s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}